.gradle/
build/
!buildSrc/src/main/kotlin/dev/nerdsoft/build/
run/
*.iml
.idea/
.kotlin/
generated/

native/bridge/target/
native/bridge/Cargo.lock

src/main/resources/natives/*.dll
src/main/resources/natives/*.so
src/main/resources/natives/*.dylib


native/vendor/bc7enc_rdo/*.cpp
native/vendor/bc7enc_rdo/*.h
!native/vendor/bc7enc_rdo/tessera_bridge.cpp
!native/vendor/bc7enc_rdo/tessera_bridge.h
native/vendor/bc7enc_rdo/LICENSE
